{% extends 'base.html'%}

{% block content%}

<!-- Slide 1 (#09) -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <!-- <div class="fix-3-12"> -->
            <!-- <h1>MINEDENIM</h1> -->
          <!-- </div> -->
          <div class="button play small white popupTrigger ae-2 fromCenter margin-top-6 margin-bottom-6" data-popup-id="9">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
          </div>
          <!-- <p class="ae-3"><span class="opacity-8"> <b>Purana kapda,nai soch!</b> </span></p> -->
          <!-- <foMINEDENIMrm class="slides-form" action="#" autocomplete="off">
            <input type="email" class="input-9 ae-4 fromCenter" name="user-email" placeholder="Email" val=""/>
            <input type="password" class="input-9 ae-5 fromCenter" name="user-password" placeholder="Password" val=""/>
            <input type="password" class="input-9 ae-6 fromCenter" name="confirm-password" placeholder="Confirm the password" val=""/>
            <button type="submit" class="button blue gradient ae-7 fromCenter" name="button">Get Started</button>
          </form> -->
            <p class="ae-3"><font size ="11"><span class="opacity-9"><b>Page</b></font></span></p>

          <p class="ae-3"><font size ="5"><span class="opacity-9"><b>"Thoughts"</b></font></span></p>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/img-09.jpg)"></div>
</section>

<!-- Popup Video -->
<div class="popup autoplay" data-popup-id="9">
  <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
  <div class="content">
    <div class="container">
      <div class="wrap">
        <div class="fix-10-12">
          <div class="embedVideo popupContent">
            <!--<iframe src="https://youtu.be/BBAyRBTfsOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <iframe width="420" height="345" src="https://www.youtube.com/">
              </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slide 2 (#89) -->
<section id="about" class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex left">
            <li class="col-6-12 fromBottomLeft">
              <h1 class="ae-2">About Us</h1>
              <div class="ae-3"><p class="opacity-8"><font size="3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mi ultrices, cursus mi et, euismod dui. Vivamus id nisl nec enim consectetur iaculis ut in quam. Sed sit amet commodo magna. Integer faucibus, libero non rhoncus cursus, metus arcu finibus nunc, sed bibendum diam purus non dolor. In a dolor luctus, rutrum felis sit amet, pharetra ligula. Sed elementum tincidunt maximus. Ut sit amet enim mollis, consectetur nunc nec, scelerisque tellus. Etiam vulputate odio sed nibh sodales varius. Donec sed ultricies metus, eu bibendum felis. Morbi finibus ut neque id consectetur. Nunc eu mattis urna. Nam euismod diam sit amet mauris vestibulum hendrerit. Proin rhoncus lorem sed erat placerat vulputate. Praesent rutrum risus non leo porta, ut efficitur libero congue.</font></p></div>
            </li>
            <li class="col-1-12">&nbsp;</li>
            <li class="col-5-12 bottom">
              <img src="static/assets/img/appstore.jpg" style="width:300px;height:300px" class="shadow rounded ae-8" alt="Image"/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/img-89.jpg)"></div>
</section>

<!-- Slide 3(#89) -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex left">
            <li class="col-6-12 fromBottomLeft">
              <h1 class="ae-2">Our Vision</h1>
              <div class="ae-3"><p class="opacity-8"><font size="4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mi ultrices, cursus mi et, euismod dui. Vivamus id nisl nec enim consectetur iaculis ut in quam. Sed sit amet commodo magna. Integer faucibus, libero non rhoncus cursus, metus arcu finibus nunc, sed bibendum diam purus non dolor. In a dolor luctus, rutrum felis sit amet, pharetra ligula. Sed elementum tincidunt maximus. Ut sit amet enim mollis, consectetur nunc nec, scelerisque tellus. Etiam vulputate odio sed nibh sodales varius. Donec sed ultricies metus, eu bibendum felis. Morbi finibus ut neque id consectetur. Nunc eu mattis urna. Nam euismod diam sit amet mauris vestibulum hendrerit. Proin rhoncus lorem sed erat placerat vulputate. Praesent rutrum risus non leo porta, ut efficitur libero congue.</font></p></div>
            </li>
            <li class="col-1-12">&nbsp;</li>
            <li class="col-5-12 bottom">
              <img src="static/assets/img/vision.jpg"  class="shadow rounded ae-8" alt="Image"/>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/img-95.jpg)"></div>
</section>

<!-- Slide 3 (#89) -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex left">
            <li class="col-6-12 fromBottomLeft">
              <h1 class="ae-2">Minepotli</h1>
              <div class="ae-3"><p class="opacity-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mi ultrices, cursus mi et, euismod dui. Vivamus id nisl nec enim consectetur iaculis ut in quam. Sed sit amet commodo magna. Integer faucibus, libero non rhoncus cursus, metus arcu finibus nunc, sed bibendum diam purus non dolor. In a dolor luctus, rutrum felis sit amet, pharetra ligula. Sed elementum tincidunt maximus. Ut sit amet enim mollis, consectetur nunc nec, scelerisque tellus. Etiam vulputate odio sed nibh sodales varius. Donec sed ultricies metus, eu bibendum felis. Morbi finibus ut neque id consectetur. Nunc eu mattis urna. Nam euismod diam sit amet mauris vestibulum hendrerit. Proin rhoncus lorem sed erat placerat vulputate. Praesent rutrum risus non leo porta, ut efficitur libero congue.</p></div>
            </li>
            <li class="col-1-12">&nbsp;</li>
            <li class="col-5-12 bottom">
              <div class="row">
  <!-- <img class="mySlides" src="static/assets/img/minipotli1.jpg" style="width:550px;height:400px">
  <img class="mySlides" src="static/assets/img/minipotli2.jpg" style="width:550px;height:400px">
  <img class="mySlides" src="static/assets/img/minipotli3.jpg" style="width:550px;height:400px">
  <img class="mySlides" src="static/assets/img/minipotli4.jpg" style="width:550px;height:400px"> -->
              </div>
     <script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex -1 ].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/img-15.jpg)"></div>
</section>


<!-- Slide 4 (#89) -->
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex left">
            <li class="col-6-12 fromBottomLeft">
              <h1 class="ae-2">Minethaila</h1>
              <div class="ae-3"><p class="opacity-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id mi ultrices, cursus mi et, euismod dui. Vivamus id nisl nec enim consectetur iaculis ut in quam. Sed sit amet commodo magna. Integer faucibus, libero non rhoncus cursus, metus arcu finibus nunc, sed bibendum diam purus non dolor. In a dolor luctus, rutrum felis sit amet, pharetra ligula. Sed elementum tincidunt maximus. Ut sit amet enim mollis, consectetur nunc nec, scelerisque tellus. Etiam vulputate odio sed nibh sodales varius. Donec sed ultricies metus, eu bibendum felis. Morbi finibus ut neque id consectetur. Nunc eu mattis urna. Nam euismod diam sit amet mauris vestibulum hendrerit. Proin rhoncus lorem sed erat placerat vulputate. Praesent rutrum risus non leo porta, ut efficitur libero congue.</p></div>
            </li>
            <li class="col-1-12">&nbsp;</li>
            <li class="col-5-12 bottom">
              <div class="row">
  <!-- <img class="mySlides2" src="static/assets/img/bag1.jpeg" style="width:550px;height:400px">
  <img class="mySlides2" src="static/assets/img/bag2.jpeg" style="width:550px;height:400px">
  <img class="mySlides2" src="static/assets/img/bag3.jpeg" style="width:550px;height:400px"> -->
              </div>

<script>
var myIndex2 = 0;
carousel2();
function carousel2() {
  var i;
  var x = document.getElementsByClassName("mySlides2");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex2++;
  if (myIndex2 > x.length) {myIndex2 = 1}
  x[myIndex2 -1 ].style.display = "block";
  setTimeout(carousel2, 2000); // Change image every 2 seconds
}
</script>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/img-14.jpg)"></div>
</section>




<!-- Slide 5 (#85)
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-7-12">
          <h1 class="ae-1">Pricing</h1>
          <ul class="grid grid-85 equal margin-top-5 ae-2 fromCenter" data-equal-collapse-width="767">
            <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 margin-bottom-2 ae-3">
              <div class="pad" style="background: #F5FBFE">
                <h3>Minethaila</h3>
        <div class="card" >
                     <div class="row">
  <img class="mySlides5" src="static/assets/img/bag1.jpeg" style="width:550px;height:400px">
  <img class="mySlides5" src="static/assets/img/bag2.jpeg" style="width:550px;height:400px">
  <img class="mySlides5" src="static/assets/img/bag3.jpeg" style="width:550px;height:400px">
 </div>
            <p> Hey this is about the mined thaila </p>

<script>
var myIndex3 = 0;
carousel3();
function carousel3() {
  var i;
  var x = document.getElementsByClassName("mySlides5");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex3++;
  if (myIndex3 > x.length) {myIndex3 = 1}
  x[myIndex3 -1 ].style.display = "block";
  setTimeout(carousel3, 2000); // Change image every 2 seconds
}
</script>
              <a href="#" class="card button">Purchase</a>   
                </div>
                
              </div>
            </li>
            <li class="col-6-12 col-tablet-1-2 col-phablet-1-1 ae-4">
                <div class="pad" style="background: #F5FBFE">
                <h3>MinePotli</h3>
        <div>
                     <div class="row">
  <img class="mySlides6" src="static/assets/img/bag1.jpeg" style="width:550px;height:400px">
  <img class="mySlides6" src="static/assets/img/bag2.jpeg" style="width:550px;height:400px">
  <img class="mySlides6" src="static/assets/img/bag3.jpeg" style="width:550px;height:400px">
 </div>

<script>
var myIndex4 = 0;
carousel4();
function carousel4() {
  var i;
  var x = document.getElementsByClassName("mySlides6");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex4++;
  if (myIndex4 > x.length) {myIndex4 = 1}
  x[myIndex4 -1 ].style.display = "block";
  setTimeout(carousel4, 2000); // Change image every 2 seconds
}
</script>
                 
                </div>
                <a href="#" class="button green gradient wide cropSides cropBottom ae-7">Purchase</a>
              </div>
              
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/img-85.jpg)"></div>
</section>

-->




<!-- Slide 6 (#95)
<section class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-6-12">
          <h1 class="huge ae-1 margin-bottom-2">Download Mobile App</h1>
          <p class="hero ae-2 margin-bottom-3"><span class="opacity-8">Learning never exhausts the mind.</span></p>

          <form action="#" autocomplete="off" class="slides-form margin-bottom-3">
            <input type="email" class="ae-3" name="email" placeholder="E-mail address"/>
            <button type="submit" class="button blue gradient ae-4" name="submit">Try it free</button>
          </form>

          <a href="#" class="button hollow ae-5"><img src="static/assets/img/appstore.jpg" height="63"/></a><a href="#" class="button hollow ae-6"><img src="static/assets/img/googleplay.jpg" height="63"/></a>
        </div>

      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/img-95.jpg)"></div>
</section>

-->

<section id="contact" class="slide fade-6 kenBurns">
  <div class="content">
    <div class="container">
      <div class="wrap">

        <div class="fix-12-12">
          <ul class="flex left">
            <li class="col-6-12 fromBottomLeft">
              <h1 class="ae-2">Email us at</h1>
              <div class="ae-3"><p class="opacity-8">email</p></div>
              <h2 class="ae-2"><font size="5">Location</font></h2>
              <div class="ae-3"><p class="opacity-8"><font size="4">New Delhi, India</font></p></div>
            </li>
            <li class="col-1-12">&nbsp;</li>
            <li class="col-5-12 bottom">
              <h1 class="ae-2"><font size="6"> For more updates follow us on our social media handles</font></h1>

                     <div class="fix-6-12">
                          <h2 class="huge ae-1 margin-bottom-2">Our app coming soon</h2>
                           <!--p class="hero ae-2 margin-bottom-3"><span class="opacity-8">Join us for some change</span></p>
                              <form action="#" autocomplete="off" class="slides-form margin-bottom-3">
                              <input type="email" class="ae-3" name="email" placeholder="E-mail address"/>
                     <button type="submit" class="button blue gradient ae-4" name="submit">Try it free</button>
                    </form -->
          <a href="#" class="button hollow ae-5"><img src="static/assets/img/appstore.jpg" height="63"/></a><a href="#" class="button hollow ae-6"><img src="static/assets/img/googleplay.jpg" height="63"/></a>
        </div>
            </li>
          </ul>
        </div>
        <p><font size="2">© Copyrights 2019  - All Rights Reserved</font> </p>
      </div>
    </div>
  </div>
  <div class="background" style="background-image:url(static/assets/img/background/contact.jpg)"></div>
</section>



{% endblock %}